<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body class="<%= data.layout %> <%= data.title %>" data-controller="highlight" data-highlight-animate-class="highlight" data-highlight-animation-seconds-value="1">
    <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource) %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
